body {
    margin: 0px 0px 8px 0px;
    height: 400px;
    width: 400px;
    font-family: Verdana;
    overflow: hidden;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

#header {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 27px;
    display: none;
}

#links {
    position: absolute;
    top: 0px;
    left: 0;
    right: -16px;
    bottom: 40px;
    overflow-y: scroll;
    width: 400px;
    height: 370px;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 40px;
    border-top: 1px solid #cbcbcb; 
    box-shadow: 0px -2px 2px #e3e3e3;
    display: none;
    z-index: 100;
}

#loginerror {
    font-size: 10px !important;
    border-bottom: 1px solid grey;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #db4f53;
    color: white;
}

.submission {
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid lightgrey;
    padding: 0px 0px;
    position: relative;
}

.score {
    width: 40px;
    border-radius: 3px;
    color: #c6c6c6;
    font-weight: bold;
    text-align: center;
    cursor: default;
    margin-top: -1px;
    font-size: 12px !important;
}

.scorecontainer {
    position: absolute;
    top: 6px;
    width: 40px;
    padding-left: 5px;
    padding-right: 3px;
    z-index: 40;
}

.infobox {
    color: #b1b1b7;
    padding-right: 10px;
    font-size: 10px !important;
}

.time {
    display: inline;
}

.user {
    display: inline;
    color: #2C5885;
}

.subreddit {
    display: inline;
    color: #2C5885;
}

.comment {
    overflow: hidden;
}

.title {
    padding-right: 10px;
    font-size: 15px !important;
}

.rightpanel {
    padding-left: 49px;
    overflow: hidden;
    position: relative;
}

.contentcontainer {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 3px 10px 5px 4px;
    position: relative;
    min-height: 53px;
    cursor: pointer;
}

/* greying the submission when hovering it */
/*
.contentcontainer:hover {
    background-color: #dedede;
}
*/

/*
.contentcontainer:hover > .title {
    text-decoration: underline;
}
*/
.submission:hover {
    background-color: #F0F3FC; /* alternative (grey): #F2F2F2 */
}

.upvote {
    cursor: pointer;
}

.downvote {
    margin-top: 3px;
    cursor: pointer;
}

table {
    width: 100%;
    border-spacing: 0px;
}

td {
    padding: 0px;
}

#loading {
    margin-top: 45%;
}

.spinner {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    transform: rotate(90deg);
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -moz-animation: stretchdelay 0.6s infinite ease-in-out;
    animation: stretchdelay 0.6s infinite ease-in-out;
}

.spinner .rect2 {
    -moz-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -moz-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -moz-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -moz-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-moz-keyframes stretchdelay {
    0%, 40%, 100% {
        -moz-transform: scaleY(0.4)
    }
    20% {
        -moz-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -moz-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -moz-transform: scaleY(1.0);
    }
}

div.options {
    overflow: visible;
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    z-index: 50;
    padding: 0px;
    visibility: hidden;
    padding-left: 10px;
}

.submission:hover div.options {
    visibility: visible;
}

div.options>div {
    position: absolute;
    padding-top: 1px;
    background-color: #cccccc;
}

div.options>div>img {
    display: block;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

.currenttab {
    right: 90px;
    bottom: 5px;
    width: 24px;
    height: 24px;
}

.foregroundtab {
    right: 61px;
    bottom: 5px;
    width: 24px;
    height: 24px;
}

.backgroundtab {
    right: 32px;
    bottom: 5px;
    width: 24px;
    height: 24px;
}



div.options>div:hover {
    background-color: #A3A3A3;
}

#submitbutton {
    padding-top: 10px;
    width: 100%;
    height: 40px;
    text-align: center !important;
    font-size: 15px !important;
    background-color: #e3e3e3;
    cursor: pointer;
}

#submitbutton:hover {
    background-color: lightgrey;
}

#reportproblembutton {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    color: darkgrey;
    display: none;
}

#reportproblembutton:hover {
    text-decoration: underline;
}